.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: -40px;
    margin-left: 438px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.4s
}

@media screen and (max-width: 620px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-top: -36px;
        margin-left: 262px;
    }
}
