.popup__close {
    background: none;
    background-image: url(../../../images/popapClose.svg);
    border: none;
    position: fixed;
    width: 32px;
    height: 32px;
    margin-top: -150px;
    margin-left: 438px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.4s;
}

@media screen and (max-width: 620px) {
    .popup__close {
        background-image: url(../../../images/popapCloseSmall.svg);
        width: 20px;
        height: 20px;
        margin-top: -157px;
        margin-left: 262px;
    }
}
