.popup__button-submit_title {
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 620px) {
    .popup__button-submit_title {
        font-size: 14px;
        line-height: 17px;
    }
}