.profile__button-add-image {
    padding: 14px 64px 14px;
}

@media screen and (max-width: 920px) {
    .profile__button-add-image {
        width: 10px;
        height: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 620px) {
    .profile__button-add-image {
        width: 16px;
        height: 16px;
        padding: 17px;
    }
}